{{define "title"}}About{{end}}}}
{{define "main"}}
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus mollis convallis. Mauris risus dolor,
        facilisis sed ante a, feugiat dignissim ante. Sed diam sem, euismod sed hendrerit at, iaculis vel augue. Duis
        convallis elit sem, quis sagittis ex ultricies tincidunt. Curabitur porttitor consectetur augue eget consequat.
        In ut lorem tincidunt, faucibus libero non, dignissim augue. Quisque efficitur lacus lacus, a feugiat quam
        ornare vel. Fusce non mattis orci. Maecenas vitae facilisis leo. Nam vehicula quam ultricies mattis tincidunt.
        Aliquam erat volutpat.
    </p>
{{end}}